html, * {
  box-sizing: border-box; }
  html p, html *, * p, * * {
    color: white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 18px; }

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  -webkit-appearance: none; }

html, body {
  margin: 0;
  padding: 0;
  scrollbar-width: none; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

.text-center {
  text-align: center; }

.text-small {
  font-size: 16px; }

.text-border-red-small {
  border-bottom: 1px solid #900a0d; }

.img-container {
  width: 200px;
  height: 200px; }

.container {
  display: flex;
  flex-direction: column; }
  .container .content {
    min-height: 100vh;
    background: black;
    flex: 1 0 auto; }
  .container .footer {
    width: 100%;
    bottom: 0;
    position: fixed; }
    .container .footer .nav-container {
      position: relative; }
      .container .footer .nav-container .nav {
        font-family: 'Titillium Web';
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        padding-left: 0; }
      .container .footer .nav-container .nav * {
        box-sizing: border-box;
        transition: all .35s ease; }
      .container .footer .nav-container .nav li {
        display: inline-block;
        list-style: outside none none;
        margin: 1rem;
        padding: 0; }
      .container .footer .nav-container .nav a {
        padding: .5em .8em;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        text-decoration: none;
        font-size: 20px; }
      .container .footer .nav-container .nav a::before,
      .container .footer .nav-container .nav a::after {
        content: '';
        height: 14px;
        width: 14px;
        position: absolute;
        transition: all .35s ease;
        opacity: 0; }
      .container .footer .nav-container .nav a::before {
        content: '';
        right: 0;
        top: 0;
        border-top: 3px solid #900a0d;
        border-right: 3px solid #bd484a;
        transform: translate(-100%, 50%); }
      .container .footer .nav-container .nav a:after {
        content: '';
        left: 0;
        bottom: 0;
        border-bottom: 3px solid #900a0d;
        border-left: 3px solid #bd484a;
        transform: translate(100%, -50%); }
      .container .footer .nav-container .nav a:hover:before,
      .container .footer .nav-container .nav a:hover:after {
        transform: translate(0, 0);
        opacity: 1; }
      .container .footer .nav-container .nav a:hover {
        color: #bd484a; }
    .container .footer .footer-container {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      height: 100%; }
      .container .footer .footer-container .footer-contact {
        display: flex;
        gap: 50px;
        flex-basis: 100%;
        justify-content: center; }

.flex-container-dubble-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

section.introduction .introduction-container {
  padding: 3rem 1.5rem; }
  section.introduction .introduction-container .introduction-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    section.introduction .introduction-container .introduction-header .introduction-header-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border: 3px solid #900a0d;
      padding: 3rem 0; }
    section.introduction .introduction-container .introduction-header .introduction-header-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 1rem 2rem; }
      section.introduction .introduction-container .introduction-header .introduction-header-content .introduction-header-content-head {
        width: 100%;
        background: lightgreen;
        text-align: center; }
        section.introduction .introduction-container .introduction-header .introduction-header-content .introduction-header-content-head h3 {
          font-size: 24px; }
      section.introduction .introduction-container .introduction-header .introduction-header-content .introduction-header-content-item {
        display: flex;
        flex: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(25% - 1rem);
        padding: .75rem;
        border: 1px solid #900a0d; }
        section.introduction .introduction-container .introduction-header .introduction-header-content .introduction-header-content-item:hover {
          border: 1px solid #900a0d;
          box-shadow: 10px 10px 25px #bd484a; }
        section.introduction .introduction-container .introduction-header .introduction-header-content .introduction-header-content-item h3 {
          font-size: 22px; }
        section.introduction .introduction-container .introduction-header .introduction-header-content .introduction-header-content-item a {
          text-decoration: none; }
  section.introduction .introduction-container .introduction-inner {
    min-height: 60vh;
    display: flex;
    align-items: stretch; }
    section.introduction .introduction-container .introduction-inner .introduction-inner-item-head {
      width: calc(25% - 1rem);
      padding: 2.5rem 2.5rem; }
      section.introduction .introduction-container .introduction-inner .introduction-inner-item-head img {
        width: 25px;
        height: 25px;
        filter: invert(15%) sepia(10%) saturate(1896%) hue-rotate(110deg) brightness(96%) contrast(89%);
        background: none;
        color: #1c352d; }
      section.introduction .introduction-container .introduction-inner .introduction-inner-item-head h3, section.introduction .introduction-container .introduction-inner .introduction-inner-item-head h4 {
        border-bottom: 2px solid #900a0d;
        border-top: 2px solid #900a0d;
        padding: .5rem;
        text-align: center; }
      section.introduction .introduction-container .introduction-inner .introduction-inner-item-head h4 {
        margin-top: 4rem; }
      section.introduction .introduction-container .introduction-inner .introduction-inner-item-head p {
        border-bottom: 1px solid #1c352d;
        width: 85%;
        padding: 7.5px 0; }
      section.introduction .introduction-container .introduction-inner .introduction-inner-item-head ul {
        text-decoration: none;
        padding: 0;
        list-style-type: none; }
        section.introduction .introduction-container .introduction-inner .introduction-inner-item-head ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          color: #FFF;
          border: 2px solid #900a0d;
          border-radius: 0;
          padding: 1.5rem;
          font-family: "Lucida Console", Monaco, monospace;
          font-size: 14px;
          letter-spacing: 1px;
          text-align: center;
          cursor: pointer;
          -webkit-transition: ease-out .5s;
          -moz-transition: ease-out .5s;
          transition: ease-out .5s;
          margin: 10px 0; }
          section.introduction .introduction-container .introduction-inner .introduction-inner-item-head ul li:hover {
            box-shadow: 10px 10px 5px #bd484a;
            cursor: pointer; }
      section.introduction .introduction-container .introduction-inner .introduction-inner-item-head div {
        align-items: center; }
      section.introduction .introduction-container .introduction-inner .introduction-inner-item-head .introduction-title {
        position: relative; }
    section.introduction .introduction-container .introduction-inner .introduction-inner-item {
      width: 100%;
      display: none; }
      section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block {
        display: none;
        flex-wrap: wrap;
        width: 100%;
        padding: 2.5rem 3rem; }
        section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block .introduction-inner-item-title {
          width: 100%;
          height: auto;
          padding: 3rem;
          margin-bottom: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border: 2.5px solid #1c352d;
          box-shadow: 0 0 20px #13251f; }
          section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block .introduction-inner-item-title h3 {
            margin: 0;
            padding: 0; }
          section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block .introduction-inner-item-title h3 {
            font-size: 30px; }
        section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block .introduction-inner-item-file {
          width: 100%;
          min-height: 60vh;
          border: 1px solid #1c352d;
          padding: 1.5rem 3rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block .introduction-inner-item-file .introduction-item-file-header {
            flex-basis: 100%;
            align-self: flex-start;
            text-align: center;
            height: 50px;
            padding: 1rem; }
          section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block .introduction-inner-item-file .introduction-item-file-contentblock {
            width: auto;
            display: flex;
            flex: 1;
            flex-direction: column;
            text-align: center;
            padding: 2rem .5rem; }
            section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block .introduction-inner-item-file .introduction-item-file-contentblock:nth-child(2) {
              flex: 0 0 100%;
              flex-basis: 100%;
              justify-content: unset;
              align-items: unset; }
          section.introduction .introduction-container .introduction-inner .introduction-inner-item .introduction-inner-item-block .introduction-inner-item-file .introduction-item-file-footer {
            flex-basis: 100%;
            align-self: flex-end;
            text-align: center; }
    section.introduction .introduction-container .introduction-inner .active {
      display: flex !important; }
    section.introduction .introduction-container .introduction-inner .active-file {
      display: block !important; }

@media screen and (max-width: 500px) {
  html, body {
    background-color: lightgreen; } }

@media screen and (max-width: 750px) {
  html, body {
    background-color: lightgray; } }

@media screen and (max-width: 900px) {
  html, body {
    background-color: darkolivegreen; } }

.about .about_container {
  height: 100%;
  display: flex;
  gap: 100px;
  flex-direction: column;
  margin: 3rem;
  padding: 2rem; }
  .about .about_container .portfolio-v1 {
    display: flex;
    gap: 50px; }
    .about .about_container .portfolio-v1 .title {
      background: #1c352d;
      border-style: solid;
      border-width: 0 15px 15px 0;
      border-color: #13251f;
      box-shadow: 10px 10px 10px #bd484a;
      height: 300px;
      width: 400px;
      flex-basis: 25%;
      flex-direction: column;
      text-align: center;
      justify-content: center; }
      .about .about_container .portfolio-v1 .title:hover {
        cursor: pointer; }
    .about .about_container .portfolio-v1 .portfolio-v1-main {
      flex-basis: 75%;
      transition: all 2s ease-in-out;
      visibility: visible;
      max-height: 0;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 50px; }
      .about .about_container .portfolio-v1 .portfolio-v1-main aside.sidebar {
        width: 250px; }
        .about .about_container .portfolio-v1 .portfolio-v1-main aside.sidebar .persoonlijke_informatie {
          position: relative; }
          .about .about_container .portfolio-v1 .portfolio-v1-main aside.sidebar .persoonlijke_informatie h2 {
            font-size: 28px; }
          .about .about_container .portfolio-v1 .portfolio-v1-main aside.sidebar .persoonlijke_informatie img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border: 1px solid #900a0d; }
        .about .about_container .portfolio-v1 .portfolio-v1-main aside.sidebar .competenties {
          padding: 1rem;
          display: flex;
          flex-wrap: wrap;
          gap: 50px; }
          .about .about_container .portfolio-v1 .portfolio-v1-main aside.sidebar .competenties .competentie {
            background: #1c352d;
            border-style: solid;
            border-width: 0 15px 15px 0;
            border-color: #13251f;
            box-shadow: 10px 10px 10px #bd484a;
            flex-basis: 100%; }
            .about .about_container .portfolio-v1 .portfolio-v1-main aside.sidebar .competenties .competentie p {
              text-align: center;
              margin: 0; }
            .about .about_container .portfolio-v1 .portfolio-v1-main aside.sidebar .competenties .competentie h1 {
              padding: 10px 0 0 0;
              text-align: center;
              margin: 0; }
      .about .about_container .portfolio-v1 .portfolio-v1-main .main__content {
        width: calc(100% - 300px); }
        .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .title {
          justify-content: center;
          text-align: center;
          padding: 1rem;
          background: #1c352d;
          border-style: solid;
          border-width: 2px 15px 15px 0;
          border-color: #13251f;
          margin: 0 0 20px 0;
          box-shadow: 10px 10px 10px #bd484a; }
          .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .title h1 {
            font-size: 56px; }
        .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .main-content-box {
          display: flex;
          flex-wrap: wrap;
          gap: 50px; }
          .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .main-content-box .main-item-1 {
            display: flex;
            flex-wrap: wrap;
            gap: 75px; }
            .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .main-content-box .main-item-1 .main-item-title-container {
              display: flex;
              justify-content: space-between;
              margin: 0 5px 0 5px; }
              .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .main-content-box .main-item-1 .main-item-title-container .main-item-1-title {
                text-align: center;
                padding: 1rem;
                background: #1c352d;
                border-style: solid;
                border-width: 0 15px 15px 0;
                border-color: #13251f;
                box-shadow: 10px 10px 10px #bd484a;
                margin: 50px 0 50px 0;
                flex-basis: 45%; }
            .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .main-content-box .main-item-1 .main-item-1-content {
              padding: 1rem;
              background: #1c352d;
              border-style: solid;
              border-width: 0 15px 15px 0;
              border-color: #13251f;
              box-shadow: 10px 10px 10px #bd484a;
              flex-basis: 100%;
              margin: 0 5px 0 5px; }
          .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .main-content-box .main-item-2 {
            display: flex;
            gap: 50px;
            justify-content: space-between;
            width: 100%; }
            .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .main-content-box .main-item-2 .main-item-2-content {
              margin: 0 5px 5px 5px;
              width: 100%;
              transition: all 300ms ease-in-out;
              text-align: center;
              background: #1c352d;
              border-style: solid;
              border-width: 0 20px 20px 0;
              border-color: #13251f;
              box-shadow: 10px 10px 10px #bd484a; }
            .about .about_container .portfolio-v1 .portfolio-v1-main .main__content .main-content-box .main-item-2 .animate {
              transform: scale(1.3); }
    .about .about_container .portfolio-v1 .visible {
      max-height: 5000px;
      visibility: visible;
      opacity: 1; }
  .about .about_container .about-me {
    display: flex;
    gap: 50px; }
    .about .about_container .about-me .title {
      background: #1c352d;
      border-style: solid;
      border-width: 0 15px 15px 0;
      border-color: #13251f;
      box-shadow: 10px 10px 10px #bd484a;
      height: 300px;
      width: 400px;
      flex-basis: 25%;
      flex-direction: column;
      text-align: center;
      justify-content: center; }
      .about .about_container .about-me .title:hover {
        cursor: pointer; }
    .about .about_container .about-me .about__main {
      flex-basis: 75%;
      background: gray; }

.projecten h1:hover {
  text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01, 0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe; }

.projecten #shadowBox {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */ }

.projecten .rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
  animation: colorRotate .5s linear 0s infinite; }

@keyframes colorRotate {
  from {
    color: #6666ff; }
  10% {
    color: #0099ff; }
  50% {
    color: #00ff00; }
  75% {
    color: #ff3399; }
  100% {
    color: #6666ff; } }
