html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  flex-direction: column; }
  .container .content {
    background: red;
    flex: 1 0 auto; }
  .container .footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    bottom: 0; }

.navigation {
  border: 2px solid red; }
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }
  .navigation li {
    float: left; }
  .navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .navigation li a:hover:not(.active) {
    background-color: #111; }
  .navigation .active {
    background-color: #04AA6D; }

.home .home__container {
  background: greenyellow;
  border: 2px solid red;
  margin: 0 1.5rem 0 1.5rem;
  padding: 10px;
  justify-content: center;
  text-align: center; }
  .home .home__container .home__content {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap; }

.about .about_container .about__main {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .about .about_container .about__main .about__me__info {
    width: 15%;
    background: blue; }
  .about .about_container .about__main .about__me__skills {
    order: 1;
    width: 15%;
    background: purple; }
  .about .about_container .about__main .about__me__title {
    width: 85%;
    background: green; }
  .about .about_container .about__main .about__me__main {
    order: 2;
    width: 85%;
    background: gold; }
