html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.navigation {
  border: 2px solid red; }
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }
  .navigation li {
    float: left; }
  .navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .navigation li a:hover:not(.active) {
    background-color: #111; }
  .navigation .active {
    background-color: #04AA6D; }

.home .home__container {
  background: greenyellow;
  border: 2px solid red;
  margin: 0 1.5rem 0 1.5rem;
  padding: 10px;
  justify-content: center;
  text-align: center; }
  .home .home__container .home__content {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap; }

.about .about_container .about__main {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .about .about_container .about__main .about__me__title {
    background: green; }
  .about .about_container .about__main .about__me__info {
    background: blue; }
  .about .about_container .about__main .about__me__skills {
    background: purple; }
  .about .about_container .about__main .about__me__main {
    background: gold; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07252d;
  border: 2px solid red;
  position: absolute;
  width: 100%;
  bottom: 0; }
