//run 'npm run scss' && press ctr + s voor npm --watch
//idee, hover here en dan opent een box zich waar de img met text schuin uit komen met een fade in



//Colors
$background: #fefefe;
$text: #4b507a;

$cyan: #60daaa;
$darkgreen: #1c352d;
$darkergreen:#13251f;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;

html, * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}
p, * {
  color: $red;
  font-family: "Lucida Console", "Courier New", monospace;
}

.container {
  display: flex;
  flex-direction: column;

  .content {
    background: black;
    flex: 1 0 auto;
  }

  .footer {
    display: flex;
    flex-shrink: 0;

    justify-content: center;
    align-items: center;
    border: 1px solid $red;
    width: 100%;
    bottom: 0;
  }
}

.navigation {
  border: 2px solid red;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }
}

.home {
  .home__container {
    //colors n shit
    background: greenyellow;
    border: 2px solid red;

    //margin, heigh, width, padding
    margin: 0 1.5rem 0 1.5rem;
    padding: 10px;

    //alignment
    justify-content: center;
    text-align: center;

    .home__content {
      .home__list {

      }

      display: flex;
      text-align: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}

.about {
  .about_container {

    .about__main { //waar alle content in staat
      margin: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 50px;
      //border: 1px solid green;
      //gap: 15px;

      //border-style: solid;
      //border-width: 0 10px 10px 0;
      //border-color: $cyan;
      //&:hover {
      //  border-style: solid;
      //  border-width: 0 10px 10px 0;
      //  border-color: $yellow;
      //  margin: 0 0 10px 0;
      //}

      aside.sidebar {
        width: 250px;

        .persoonlijke_informatie {

          height: 50%;
          position: relative;

          //&::after {
          //  content: '';
          //  position: absolute;
          //  height: 1px;
          //  background: green;
          //  width: 50%;
          //  bottom: 0;
          //  left: 50%;
          //  transform: translateX(-50%);
          //}
          h2 {
            font-size: 28px;
            text-shadow: 5px -5px $darkgreen;
          }

          .persoonlijke_informatie_image {
            text-align: center;
            border: 1px solid $red;
            margin: 0 0 20px 0;
            img {
              max-height: 200px;
              max-width: 200px
            }
          }

          .informatie__content {
            float: left;
            text-align: left;

            .informatie-content-item {
              padding: 5px 5px 5px 0;
              a {
                font-size: 26px;
                &:hover {
                  text-shadow: 5px -5px $darkgreen;
                }
              }
            }
          }
        }

        .competenties {
          background: $darkgreen;
          padding: 1rem;
          height: 50%;

          .competenties-item {
            background: $red;
            p, * {
              color: $darkgreen;
            }
          }
          .competenties-item:nth-child(odd) {
            background: $darkergreen;
            p, * {
              color: $red;
            }
          }

        }
      }

      .main__content {
        width: calc(100% - 300px);

        .title {
          justify-content: center;
          text-align: center;
          padding: 1rem;
          background: $darkgreen;


            border-style: solid;
            border-width:  2px 15px 15px 0;
            border-color: $darkergreen;
            margin: 0 0 20px 0;

          h1 {
            font-size: 56px;
          }
        }
        .main-content-box {
          padding: 1rem;
          display: flex;
          flex-wrap: wrap;
          gap: 25px;

          //background: $darkgreen;



          .main-item-1 {
            background: $darkgreen;
            border-style: solid;
            border-width: 0 15px 15px  0;
            border-color: $darkergreen;
          }

          .main-item-2, .main-item-3 {
            width: calc(50% - 12.5px);
            transition: 1s ease-in-out;
            text-align: center;

            background: $darkgreen;
            border-style: solid;
            border-width: 0 20px 20px  0;
            border-color: $darkergreen;

            &:hover { //on hover add a border????
              transform: scale(1.3);
            }
          }
          .main-item-4 {
            flex-basis: 100%;
            flex-wrap: wrap;
            border: 1px solid green;

            .main-title {
              text-align: center;
              flex-basis: 100%;
            }

            justify-content: space-evenly;
            display: flex;
          }
        }
      }
    }
  }
}




