//define fonts
@font-face {
  font-family: 'Silkscreen';
  src: url("../fonts/Silkscreen-Regular.ttf");
}

//global styling
html, body {
  background: #000000;
  font-family: 'Silkscreen', sans-serif;

  margin: 0;
  padding: 0;
  scrollbar-width: none;

  h1, h2 {
    color: #D40000;
  }

  p, * {
    color: #FFFFFF;
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  -webkit-appearance: none;
}

.container {
  display: flex;
  padding: 3rem 1.5rem 3rem 1.5rem;
}

.box {
  padding: 0;
  margin: 0;
  border: 0.5px solid #D40000;
  width: 2rem;
  height: 2rem;
}

.center-div-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-red {
  color: #D40000 !important;
}

//make base color red of images
.filter-red {
  filter: brightness(0) saturate(100%) invert(16%) sepia(92%) saturate(3473%) hue-rotate(353deg) brightness(87%) contrast(119%);
}

//flip something 180 deg
.flip-180 {
  -webkit-transform: rotateX(180deg);
  transform: rotatey(180deg);
}

//onclick show
.show-hide-click-on-id {
  display: none;

  &:target {
    display: flex;
    flex-basis: 100%;
  }
}

//base template
.base-section {
  width: 80vw;
  border: 1px solid #D40000;
  .base-content {
    max-height: 100px;

    .base-title {
      border: 0.5px solid #D40000;
      height: 2rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .base-body {
      border: 1px solid #D40000;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 500px;

      .base-body-content {
        padding: 2.5rem;
      }

      .base-body-footer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        flex-basis: 100%;

        p, * {
          font-size: 24px;
          color: #01756D !important;
          margin: 0 0 15px 0;
        }
      }
    }
  }
}

//animations
//fade
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation-fade {
  animation: fade 4s infinite;
}

//404 page
section.section-404 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

//navigation
section.section-navigation {
  width: 15vw;

  .content-navigation {
    padding: 0 20px;

    .navigation-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-basis: 100%;
      border: solid #D40000;
      border-left: 3px;
      border-right: 3px;
      margin-bottom: 40px;

      h3 {
        font-size: 24px;
      }
    }

    .navigation-content {
      position: relative;

      .navigation-content-item {
        border: solid #01756D;
        border-right: 1px;
        border-left: 1px;
        border-top: 1px;
        margin: 2rem 0;

        opacity: .5;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        p {
          margin: 0;
          color: #FFFFFF;
          font-size: 18px;
        }

        a {
          text-decoration: none;
        }

        &:hover {
          opacity: 1;
        }
      }

      .active {
        opacity: 1;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
      }

      ul, li::before {
        //content: '- ';
      }

      .nav-child-item-label {
        a {
          text-decoration: none;

          &:hover {
            color: #d34141;
          }
        }
      }

      .active-red {
        p, * {
          color: #D40000 !important;
        }
      }

      .active-nav-item {
        opacity: 1;
      }

    }
  }


}

//start screen
section.section-start {
  width: 100vw;

  a {
    text-decoration: none;
    cursor: default;
  }

  .content-start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;


    &:last-child {
      align-self: flex-end;

      i {
        color: #01756D !important;
      }
    }

    h1 {
      font-size: 88px;
    }
  }
}

//home / file page
section.section-home {
  width: 80vw;

  .home-title {
    border: 0.5px solid #D40000;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home-body {
    border: 1px solid #D40000;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-body-content {
      padding: 5rem;
      min-height: 400px;
    }

    .home-body-footer {
      p {
        font-size: 30px;
      }
    }
  }
}

//about me page
section.section-about-me {
  width: 80vw;

  .about-me-title {
    border: 0.5px solid #D40000;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  .about-me-body {
    border: 1px solid #D40000;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;

    .about-me-body-content {
      padding: 2.5rem 2.5rem;
      min-height: 400px;

      display: flex;
      flex-basis: 100%;
      flex-grow: 1;

      p, h2, h3 {
        color: #FFFFFF;
      }

      img {
        width: 300px;
        height: 300px;
        border: 1px solid #D40000;
      }


      #who_am_I {
        display: none;

        &:target {
          display: flex;
          flex-basis: 100%;

          ul {
            text-decoration: none;
            list-style: none;

            li {
              text-decoration: none;
            }
          }

          .p-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
          }
        }
      }

      #what_do_I_do {
        display: none;;

        &:target {
          display: flex;
          flex-basis: 100%;
          flex-direction: column;
          align-items: center;
          //justify-content: space-evenly;


          .what_do_I_do_menu {
            display: flex;
            align-items: center;

            img {
              width: 20px;
              height: 20px;
              border: none;
            }

            .box {
              width: 200px;
              height: 200px;

              img {
                width: 100px;
                height: 100px;
              }
            }

            .menu-arrow {
              padding: 0;
              margin: 0 1.5rem;
              border: 0.5px solid #D40000;
              width: 40px;
              height: 60px;

              &:hover {
                cursor: pointer;
              }
            }

            .menu-icon {
              display: none;
            }

            .active {
              display: flex;
            }
          }

          .what_do_I_do_content {
            text-align: center;

            .menu-content-item {
              display: none;
            }

            .active {
              display: flex;
            }
          }
        }
      }

      #why_do_I_do {
        flex-direction: column;

        .why_do_I_do_menu {
          display: flex;
          justify-content: space-between;

          .menu3-icon-container {
            padding: 2rem;
            border: 1px solid #D40000;
            filter: invert(48%) sepia(10%) saturate(203%) hue-rotate(314deg) brightness(96%) contrast(87%);

            &:hover {
              filter: invert(40%) sepia(81%) saturate(5445%) hue-rotate(342deg) brightness(92%) contrast(78%);
              cursor: pointer;
            }

            img {
              height: 75px;
              width: 75px;
              border: none;
            }
          }

          .active {
            filter: brightness(0) saturate(100%) invert(16%) sepia(92%) saturate(3473%) hue-rotate(353deg) brightness(87%) contrast(119%) !important;
          }
        }

        .why_do_I_do_content {
          .menu3-item {
            display: none;
          }

          .active {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
          }
        }
      }

    }

    .about-me-body-footer {
      display: flex;
      justify-content: center;

      flex: 1;

      p {
        font-size: 30px;
      }
    }
  }
}
