//run 'npm run scss' && press ctr + s voor npm --watch
//idee, hover here en dan opent een box zich waar de img met text schuin uit komen met een fade in

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navigation {
  border: 2px solid red;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }
}

.home {
  .home__container {
    //colors n shit
    background: greenyellow;
    border: 2px solid red;

    //margin, heigh, width, padding
    margin: 0 1.5rem 0 1.5rem;
    padding: 10px;

    //alignment
    justify-content: center;
    text-align: center;

    .home__content {
      .home__list {

      }

      display: flex;
      text-align: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}

.about {
  .about_container {
    .about__main {
      margin-top: 1.5rem;
      display: flex;

      justify-content: space-between;
      flex-direction: column;


      .about__me__title {
        background: green;
      }
      .about__me__info {
        background: blue;
      }
      .about__me__skills {
        background: purple;
      }
      .about__me__main {
        background: gold;
      }


    }
  }
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07252d;
  border: 2px solid red;
  position: absolute;
  width: 100%;
  bottom: 0;
  //overflow: hidden;
}